<div class = "one-twote" >

	<div id="player"></div>
	<div id="twote-content" class= "{{username._id}}" name = '{{ContentVidID}}'>{{@key}}{{contentVidID}}</div>
    <div id="usernameTwote" class= "{{username._id}}"> -{{username.username}} </div>
    {{#unless notDeletable}}
    <input type="button" class = "delete" id="{{_id}}" value="X" /> 
    {{/unless}}

    <!--stole this, replace with own code-->
    <script>
    var content = $("#twote-content").attr("name");
    var tag = document.createElement('script');

    if (typeof(YT) == 'undefined' || typeof(YT.Player) == 'undefined') {

      var tag = document.createElement('script');
      tag.src = "http://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      window.onYouTubePlayerAPIReady = function() {
        makePlayer();
      };
      } 
      else {

         makePlayer();
    }
    
    function makePlayer(){
      var player = new YT.Player('player', {
            height: '390',
            width: '640',
            videoId: content,
            events: {
              'onReady': onPlayerReady,
              'onStateChange': onPlayerStateChange
            }
      });
    }

    function onPlayerReady(event) {
        event.target.playVideo();
    }

    var done = false;
    function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 6000);
          done = true;
        }
    }
    function stopVideo() {
        player.stopVideo();
    }
    </script>

</div>