<div class = "one-twote" >

	<div id="player-replace" name="{{contentVidID}}"></div>
	<div id="twote-content" class= "{{username._id}}" name = '{{contentVidID}}'>{{@key}}<a href="{{contentVidID}}" target="_blank">{{contentVidID}}</a></div>
    <div id="usernameTwote" class= "{{username._id}}"> -{{username.username}} </div>
    {{#unless notDeletable}}
    <input type="button" class = "delete" id="{{_id}}" value="Delete" /> 
    {{/unless}}  
</div>


<script type="text/javascript" src="javascripts/main.js"></script>